Repository andreidmt/mvp, changes with the owners that CODEOWNERS names for each.
All owners: @team-commerce, @team-auth, @team-cms, @team-client-web, @team-client-heartbeat

build: remove workspace, use lerna as package based
  lerna.json
  package-lock.json
  package.json
Owners: none

chore: dont lint domain specific
  .prettierignore
Owners: none

ci: remove explicit npm install
  .circleci/config.yml
Owners: none

chore: ignore .esbuild folder
  .gitignore
Owners: none

ci: remove node_module caching, not helping since using "npm ci"
  .circleci/config.yml
Owners: none

chore: fix linting errors
  client.web/@r3wy.react-e2e/.npmrc
  client.web/@r3wy.react-e2e/package-lock.json
  client.web/@r3wy.react-e2e/package.json
  client.web/@r3wy.react/.npmrc
  client.web/@r3wy.react/package-lock.json
  client.web/@r3wy.react/package.json
  domain.agnostic/@r3wy.eslint-config/package-lock.json
  domain.agnostic/@r3wy.eslint-config/package.json
  domain.agnostic/@r3wy.prettier-config/package-lock.json
  domain.agnostic/@r3wy.ts-config/package-lock.json
  domain.auth/package-lock.json
  domain.auth/package.json
  domain.cms/serverless.yml
  domain.commerce/package-lock.json
  domain.commerce/package.json
  domain.commerce/src/products/product.db.js
  package-lock.json
  package.json
Owners: @team-auth, @team-cms, @team-commerce

chore: install missing types package for aws-lambda
  domain.commerce/package-lock.json
  domain.commerce/package.json
Owners: @team-commerce

chore: install missing types package for debug
  client.web/@r3wy.react/package-lock.json
  client.web/@r3wy.react/package.json
Owners: none

CODEOWNERS:

!domain.*               *
domain.agnostic         *
domain.commerce         @team-commerce
domain.auth             @team-auth
domain.cms              @team-cms
domain.client-web       @team-client-web
domain.client-heartbeat @team-client-heartbeat
